/* 
    Theme : Inv_Mgmnt_Syst;
    Author : [Tumbry_10];
    Date : 2025-05-29; 
    Version : 1.0;
*/

.main-content {
    background-color: #EFF2F6;
    }

.myLink {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}

.myP {
    font-style: italic;
    font-weight: bold;
    font-size: smaller;
    /*color: cornflowerblue; */
}